body {
    font-size: 19px;
	background-image : url("bg.jpg");
	font-family: "Verdana";
}
table{
  border-collapse: collapse;
  width: 75%;
}

th, td {
  text-align: center;
  padding: 8px;
}

tr:nth-child(even){background-color: white}

th {
  background-color: black;
  color:white;
}
tr:hover {
    background: #668cc1;
}

form {
 width: 75%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  background-color: #ffcc66;
  color: black;
}

.input-group {
    margin: 10px 0px 10px 0px;
}
.input-group label {
    display: block;
    text-align: left;
    margin: 3px;
}
.input-group input {
    height: 30px;
    width: 93%;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid gray;
}
.btn {
    padding: 10px;
    font-size: 15px;
    color: white;
    background: #29a329;
    border: none;
    border-radius: 5px;
}

.btn1{
    padding: 10px;
    font-size: 15px;
    color: white;
    background: #4d79ff;
    border: none;
    border-radius: 5px;
}
.btn2 {
    padding: 10px;
    font-size: 15px;
    color: white;
    background: #e60000;
    border: none;
    border-radius: 5px;
}

.del_btn {
    text-decoration: none;
    padding: 2px 5px;
    color: white;
    border-radius: 3px;
    background: #bc2b2b;
}
.msg {
    margin: 30px auto; 
    padding: 10px; 
    border-radius: 5px; 
    color: #3c763d; 
    background: #dff0d8; 
    border: 1px solid #3c763d;
    width: 50%;
    text-align: center;
}